**/*.backup1
**/*.uistate.xml
**/*.backup1
Test/Elemental Master.uistate.xml
**/*.backup1
Test/Layouts/Layout 1.uistate.xml
Test/Layouts/Layout 1.uistate.xml
Test/Elemental Master.uistate.xml
Test/Elemental Master.capx.autosave